table, tr, td{
  border: 1px solid red;
  text-align: center;
}

table, tr{
  width: 100%;
}

table{
  border-spacing: 0px;
}
td{
  width: 33%;
}
h4{
  margin: 2px;
}
input{
  text-align: center;
  width: 100%;
  border: 0px;
  margin: 0px;
}

.tabla{
  width: 40%;
  display: inline-block;
  float: left;
}
.t2{
  width: 30%;
  margin-left: 2%;
}

.dado{
  display: inline;
}
